@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wynik</title>
</head>
<body>
    <div> 
        <h2>@ViewBag.Result</h2>
    </div>
</body>
</html>
