@model APawelec_Nexio_rekrutacja.Models.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wynik</title>
</head>
<body>
    <div> 
        @ViewBag.Info
    </div>
</body>
</html>
